<div id="main"></div>

<h1>HOME PAGE</h1>

<h3>Search Flights below</h3>

<%= form_tag flights_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>


<% end %>