<div id="main"></div>

<script type="template/text" id="appViewTemplate">
	<h2>Flight Results</h2>

	<ul id="flights"></ul>	
</script>

<script type="template/text" id="flightListView">
	<h3>{{number}}</h3>
</script>

<script type="template/text" id="flightView">
  <h3>{{number}}</h3> 

</script>

<script type="template/text" id="planeView">
  <h3>{{name}}</h3> 
  <h2>{{rows}}</h2> 
  <h2>{{columns}}</h2> 
  <p>

  {[ for ( var i = 1; i < columns+1; i++ ) { ]} 
        <div id="columns">
    {[ for (var j = 0; j < rows+1; j++ ) { ]}
      {[ var letter = 65 +j ]}
        {[ var l = String.fromCharCode(letter) ]}
        <div id="seat">{{ [i , l] }}</div>
        
    {[ } ]}
        </div>
  {[ } ]}

  </p>
  <div id="plane">


  </div>
</script>