<div id="main"></div>

<script type="template/text" id="appViewTemplate">
	<h2>Flight Results</h2>

	<ul id="flights"></ul>	
</script>

<script type="template/text" id="flightListView">
	<h3>{{number}}</h3>
</script>